<div class="login-container">
  <div class="login-form">
    <h1 class="form-title">LIBRYA.</h1>

    <form>
      <div class="form-group">
        <label for="email" class="form-label">Usuário</label>
        <input type="email" id="email" class="form-input" placeholder="seu.usuario" />
      </div>

      <div class="form-group">
        <label for="password" class="form-label">Senha</label>
        <input type="password" id="password" class="form-input" placeholder="• • • • • •" />
      </div>

      <button type="submit" class="form-button">Entrar</button>
    </form>

    <p class="form-footer">Ainda não tem uma conta? <a routerLink="/registro">Crie uma aqui</a>.</p>
  </div>
</div>
